{
  "root": true,
  "env": {
    "commonjs": true,
    "node": true,
    "browser": true,
    "es6": true,
    "jest": true
  },
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "globals": {},
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
      "requireConfigFile": false
    },
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "plugins": ["react", "import", "react-hooks"],
  "ignorePatterns": ["node_modules/"],
  "rules": {
    "react/prop-types": "off",
    "import/prefer-default-export": "off",
    "import/no-default-export": "warn",
    "import/no-unresolved": "off",
    "react/jsx-props-no-spreading": "off",
    "no-unused-vars": "off"
  },
  "overrides": [
    {
      "files": ["./src/pages*.jsx"],
      "rules": {
        "no-unused-expressions": "off",
        "import/no-default-export": "off"
      }
    },
    {
      "files": ["./src/gatsby-browser.js"],
      "rules": {
        "no-unused-expressions": "off"
      }
    }
  ],
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
